<!DOCTYPE html>
<html>
<head>
    <script>
        var baseUrl = "@Url.Content("~/")";
    </script>
    <meta name="viewport" content="width=device-width" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    @Styles.Render("~/Content/css/boostrap-4.4")
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Jogo da Pedra-Papel-Tesoura</span>
    </nav>

    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap-4.4")
    @RenderSection("scripts", required: false)
</body>
</html>
